.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;

  .list-content {
    padding: 24px;
  }
}

.header-default-tag {
  font-weight: 400;
}
