@import url("../../../theme.less");

.icon-container {
  background-color: @color-600;
  border-radius: 4px;
  height: 48px;
  width: 48px;
  line-height: 48px;
  position: relative;
  display: inline-flex;
  align-items: center;

  :global {
    .zstack-icon {
      font-size: 24px !important;
    }
  }
}
