@import "../style/vars.less";

.icon-state-container {
  position: relative;
  display: inline-flex;
  .container-icon-state {
    position: absolute;
    right: 0px;
    bottom: 0px;
    line-height: 0;
  }

  .container-icon-dolt {
    border: 1px solid #ffffff;
    position: absolute;
    right: 0px;
    bottom: 0px;
    line-height: 0;
  }

  .container-state-connected {
    background-color: #5aca49;
  }

  .container-state-connecting {
    background-color: #0076f7;
  }

  .container-state-disconnected {
    background-color: #f4454c;
  }
}
