@import url("../../../theme.less");
.alert {
  padding-left: 45px;

  :global {
    .ant-alert-icon {
      left: 24px;
    }
  }
}
.guestOsItem {
  :global {
    .zstack-form-item.ant-form-item {
      display: inline-block;
      margin-bottom: 0;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
.width-160 {
  width: 160px;
}

.width-200 {
  width: 200px !important;
}

.width-240 {
  width: 240px;
}

.width-320 {
  width: 320px !important;
}

.warningText {
  color: @danger-600;
}

.volumeSelectName {
  color: @neutral-700;
  font-size: 14px;
  margin-bottom: 4px;
}

.volumeSelectSize {
  color: @neutral-600;
  font-size: 12px;
}

.ownerFormItem {
  :global {
    .ant-select {
      width: 320px !important;
    }
  }
}
