@import url("../../../../theme.less");

.overviewContainer {
  :global {
    .dragContainer {
      margin-bottom: 20px !important;
      margin-top: 40px;
    }
    // .ant-card {
    //   border-bottom: none;
    // }
    // .zstack-field-horizontal {
    //   width: 50%;
    //   display: inline-block;
    //   .zstack-field-horizontal-value {
    //     width: calc(50% - 8px);
    //     display: inline-block;
    //     vertical-align: bottom;
    //   }
    //   &:nth-child(odd) {
    //     border-right: 1px solid @neutral-300;
    //   }
    //   &:last-child {
    //     border-bottom: 1px solid @neutral-300 !important;
    //   }
    // }
  }
}

.test {
  width: 50%;
}
