@import "../../../theme.less";

.width-160 {
  width: 160px !important;
}

.width-200 {
  width: 200px !important;
}

.width-240 {
  width: 240px !important;
}

.width-320 {
  width: 320px !important;
}

.create-modal {
  height: 678px;
}

.warningText {
  color: @danger-600;
}

.card {
  padding: 0;

  .title {
    display: flex;
    flex-direction: row;
    height: 22px;
    margin-bottom: 12px;
    margin-left: -12px;

    .rect {
      margin-top: 5px;
      width: 4px;
      height: 12px;
      background: @color-400;
    }

    .text {
      width: 56px;
      height: 22px;
      margin-left: 8px;
      font-size: 14px;
      font-weight: 400;
      color: @neutral-700; //需要替换
      line-height: 22px;
    }
  }
}

.self-modal-select {
  display: inline-block;
}
