@import url("../../../../theme.less");

// index
.container {
  padding: 20px 24px;

  .headerAlert {
    margin-bottom: 12px;
  }
}

:global(.anticon).capacityIcon {
  display: flex;
  align-items: center;
}
