@import "../../../../theme.less";

.inputPrefixIcon {
  color: @neutral-400 !important;
}

.ukey-container {
  :global {
    .ant-input-affix-wrapper-disabled {
      background-color: @neutral-100;
    }
  }

  .width-240 {
    width: 240px !important;
  }
}

.wrapClassName {
  :global {
    .ant-modal-title {
      font-weight: normal;
    }
  }
}
