@import "../../../../theme.less";

.layout {
  height: 100%;

  :global {
    .zstack-detail-nav-layout {
      .zstack-detail-nav-layout-panel {
        max-width: 1024px;
      }
    }
  }

  .edit {
    cursor: pointer;

    &:hover {
      color: @color-600;
    }
  }
}
