.width-320 {
  width: 320px !important;
}

.add-email-container {
  :global {
    .zstack-list-collect-item-block {
      border: none;
      justify-content: flex-start;
      margin-bottom: 8px !important;
    }
  }
}
