@import "../../../../../../../../theme.less";

.caption {
  margin-top: 4px;
  font-size: 12px;
  line-height: 20px;
  color: @neutral-500;
}

.diskType {
  display: flex;
  align-items: center;

  > * {
    flex-shrink: 0;
  }
}
