@import url("../../../theme.less");

.iconSync {
  display: flex;
  color: var(--neutral-400);
  cursor: pointer;
  transition: color 0.3s;
  width: 14px;
  height: 14px;

  &:hover {
    color: var(--color-600);
  }
}
