@import "../../../../theme.less";

.list {
  width: 100%;
  border: 1px solid @neutral-300;
  > :last-child {
    border-bottom: none;
  }
  p {
    border-bottom: 1px solid @neutral-300;
    font-size: 14px;
    color: @neutral-700;
    padding: 7px 8px;
    margin: 0;
  }
}

.value {
  margin: 0;
}

.actionBtn {
  background: @neutral-200 !important;
}
