.platform {
  display: flex;
  align-items: center;

  > img {
    flex-shrink: 0;
    margin-right: 4px;
  }

  > span {
    min-width: 0;
  }
}

.filter {
  display: inline-block;
  vertical-align: bottom;
}
