@import "../style/vars.less";

.@{prefix}-empty-table {
  display: inline-block;
  margin: 24px 8px !important;

  .ant-empty-image {
    display: inline-flex;
    margin-bottom: 4px;
  }

  .ant-empty-description {
    font-size: 12px;
    color: @neutral-500;
    line-height: 20px;
  }
}

.@{prefix}-empty-select {
  margin: 30px 8px !important;

  .ant-empty-image {
    display: inline-flex;
    height: 60px;
  }

  .ant-empty-description {
    font-size: 12px;
    color: @neutral-500;
    line-height: 20px;
  }
}
