@import "../../../../theme.module.less";

.container {
  padding: 24px;
}

.messageTemplateValue {
  word-wrap: break-word;
  padding: 7px;
  max-height: 240px;
  overflow: auto;
}

.messageTemplateValueTitle {
  max-height: 80px;
}
