@import "../style/vars.less";

.@{prefix}-popconfirm {
  .ant-popover-inner-content {
    padding: 20px 24px;
    min-width: 240px;
    max-width: 400px;
  }

  .ant-popover-message {
    padding: 0;
    margin-bottom: 20px;
    color: @neutral-700;

    .anticon {
      top: 50%;
      margin-top: -8px;
    }

    .ant-popover-message-title {
      padding-left: 20px;
    }
  }
}

.@{prefix}-switch {
  .ant-switch {
    width: 32px;
  }

  .ant-switch-inner {
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
  }
}
