@import "../../../theme.less";

.directory {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .menuNameContainer {
    height: 32px;
    background-color: @neutral-100;
    padding-left: 12px;
    display: flex;
    align-items: center;
    color: @neutral-600;
  }
  .menuTreeContainer {
    flex: 1 1;
    :global {
      .ant-spin-nested-loading {
        height: 100%;
        .ant-spin-container {
          height: 100%;
        }
      }
    }
  }

  .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .expand {
      :hover {
        background-color: #005bd4 !important;
        opacity: unset !important;
      }
    }

    a:hover {
      opacity: unset;
      color: #005bd4;
    }

    :global {
      .ant-select-selector {
        padding-left: 0px;
        line-height: 24px;
        height: 24px;
      }

      .ant-select-selection-item {
        font-weight: 500;
        font-size: 16px;
        height: 24px;
        vertical-align: top;
        line-height: 24px;
      }
    }
  }

  .spin {
    :global {
      .ant-spin-dot {
        margin-left: -12px !important;
      }
    }
  }
}

.tree {
  flex: 1 1;
  min-height: 0;

  & > div {
    height: 100%;
  }

  .empty {
    margin-top: 40px !important;
  }

  .badgeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titlePart {
      max-width: 100%;
      font-size: 14px;

      display: flex;
      align-content: flex-start;

      .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 4px;
        margin-right: unset;
        overflow: hidden;
        flex: 0 1 auto;
      }

      .num {
        margin-left: 4px;
      }
    }

    &:hover {
      background-color: unset;
      background: unset;
    }

    &:hover .treeNodeAction {
      //display: inline-block;
      visibility: visible;
    }

    .treeNodeAction {
      // display: none;
      flex: none;
      //display: inline-block;
      visibility: hidden;
      // width: 40px;
      margin-right: 12px;
      margin-left: 12px;
    }
  }

  :global {
    .ant-tree {
      .ant-tree-list {
        .ant-tree-list-holder {
          & > div {
            overflow: hidden !important;
          }
        }
      }
    }

    .ant-tree-list-scrollbar {
      margin-right: 1px;
      &.ant-tree-list-scrollbar-show {
        display: block !important;
        .ant-tree-list-scrollbar-thumb {
          background: none !important;
          background-color: @neutral-300 !important;
        }
      }
    }

    .ant-tree-node {
      padding: 0 0 0 4px !important;
    }

    .ant-tree {
      .ant-tree-switcher {
        background-color: initial;
        color: inherit !important;
        margin: 8px 4px 8px 0px;
        line-height: 16px;
        width: 16px;
      }

      .ant-tree-list-holder-inner:not(:has(.ant-tree-indent-unit)) {
        .ant-tree-switcher-noop {
          display: none;
        }
      }

      .ant-tree-treenode {
        height: 32px;
        padding: 0px 12px 0 8px;
        font-size: 14px;
        border-left: 4px solid transparent;
        color: @neutral-700;
        transition: background-color 0.3s;

        &::before {
          display: none;
        }

        &:hover {
          background-color: @neutral-100;
          background: @neutral-100;
        }

        //修改选中态
        &-selected {
          background-color: @color-50 !important;
          border-left-color: @color-400;
          color: @color-600;

          &:hover::before,
          &::before {
            background-color: @color-50 !important;
            background: @color-50 !important;
          }

          &::after {
            width: max-content;
          }
        }

        .ant-typography {
          color: inherit !important;
        }

        .ant-tree-node-content-wrapper,
        .ant-tree-node-content-wrapper-normal {
          margin-top: 4px;
          padding: 0px;
          overflow: hidden;
          color: inherit !important;

          &:hover {
            background-color: unset !important;
          }
        }
      }
    }

    .ant-tree-title {
      width: 100%;
      vertical-align: middle;
      display: inline-block;
    }

    //展开按钮
    .ant-tree-switcher-noop {
      // display: none;
      // margin-left: 8px;

      &::before {
        right: 16px;
      }

      &::after {
        display: none;
      }
    }

    .ant-tree-indent-unit::before {
      height: 0px;
      position: absolute;
      top: 0;
      right: 16px;
      bottom: -4px;
      // border-right: 1px solid var(--neutral-300);
      content: "";
      display: unset;
    }

    .ant-tree-treenode {
      .ant-tree-indent {
        .ant-tree-indent-unit {
          width: 12px;
          &::before {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: -17px;
            // border-right: 1px solid var(--neutral-300);
            height: 32px;
            content: "";
          }
        }

        .ant-tree-indent-unit-start::before {
          position: absolute;
          top: 0;
          right: 16px;
          bottom: -4px;
          // border-right: 1px solid var(--neutral-300);
          height: 32px;
          content: "";
        }

        .ant-tree-indent-unit:last-child {
          &::before {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: -17px;
            // border-right: 1px solid var(--neutral-300);
            height: 32px;
            content: "";
          }
        }

        .ant-tree-indent-unit-end:last-child {
          &::before {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: -17px;
            // border-right: 1px solid var(--neutral-300);
            height: 32px;
            content: "";
          }
        }

        .ant-tree-indent-unit-start {
          &::before {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: -17px;
            // border-right: 1px solid var(--neutral-300);
            height: 32px;
            content: "";
          }
        }
      }
    }

    .ant-tree-treenode-leaf-last {
      .ant-tree-indent {
        .ant-tree-indent-unit:last-child {
          &::before {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: -17px;
            // border-right: 1px solid var(--neutral-300);
            height: 18px;
            content: "";
          }
        }

        .ant-tree-indent-unit:first-child {
          &::before {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: -17px;
            // border-right: 1px solid var(--neutral-300);
            height: 32px;
            content: "";
          }
        }
      }
    }

    .ant-tree-treenode-switcher-open {
      .ant-tree-indent {
        // .ant-tree-indent-unit:last-child {
        .ant-tree-indent-unit {
          width: 12px;
          &::before {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: -17px;
            // border-right: 1px solid var(--neutral-300);
            content: "";
          }
        }

        .ant-tree-indent-unit:last-child {
          &::before {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: -17px;
            height: 32px;
            // border-right: 1px solid var(--neutral-300);
            content: "";
          }
        }
      }
    }

    .ant-tree-treenode:last-child {
      > .ant-tree-indent {
        > .ant-tree-indent-unit::before {
          position: absolute;
          top: 0;
          right: 16px;
          bottom: -17px;
          // border-right: 1px solid var(--neutral-300);
          height: 17px;
          content: "";
        }
      }
    }
  }
}

.treeTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;

  .titlePart {
    max-width: 100%;
    min-width: 0;
    font-size: 14px;

    display: flex;
    align-content: flex-start;
    align-items: center;
    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-left: 4px;
      margin-right: unset;
      overflow: hidden;
      flex: 0 1 auto;
      min-width: 0;

      &:first-child {
        margin-left: 0;
      }
    }

    > div:first-child:empty + .title {
      margin-left: 0;
    }

    .spin {
      margin-left: 4px;
      font-size: 20px;
    }

    svg {
      flex-shrink: 0;
    }
  }

  &:hover {
    background-color: unset;
    background: unset;
  }

  &:hover .treeNodeAction {
    visibility: visible;
  }

  .treeNodeAction {
    flex: none;
    visibility: hidden;
    margin-right: 12px;
    margin-left: 12px;
  }

  .treeRootAction {
    flex: none;
    margin-right: 12px;
    margin-left: 12px;
  }

  .treeNodechecked {
    margin-right: 0px;
  }
}

.quickLinkWrapper {
  margin-top: 8px;
  height: 32px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid @neutral-300;

  .quickLinkSetting {
    width: 40px;
    height: 100%;
    position: relative;
    color: @neutral-600;
    transition: all 0.3s;
    display: grid;
    place-content: center;

    &:hover {
      color: @color-600;
    }
  }
}

.quickLinkSettingPopover:global(.ant-popover) {
  min-width: 120px;
  padding: 0 !important;

  :global {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
    }

    .ant-popover-inner-content {
      padding: 0;
    }

    .ant-checkbox + span {
      flex-shrink: 0;
    }
  }

  .quickLinkSettingList {
    padding: 4px 0;
    display: flex;
    flex-direction: column;

    .quickLinkSettingItem {
      color: @neutral-700;
      padding-left: 14px;
      padding-right: 6px;
      min-height: 32px;
      display: flex;
      align-items: center;
    }
  }
}

.tabs {
  height: 100%;
  min-width: 0;

  :global {
    .ant-tabs-nav {
      height: 100%;

      &::before {
        display: none !important;
      }
    }
    .ant-tabs-nav-operations {
      display: none !important;
    }
    .ant-tabs-nav-wrap {
      &::before,
      &::after {
        transition: none !important;
      }
    }
    .ant-tabs-nav-list {
      margin-left: 0 !important;
      transition: none !important;
    }
    .ant-tabs-tab-btn {
      text-shadow: none !important;

      a {
        color: @neutral-700;
        font-size: 14px;
        line-height: 22px;
        transition: all 0.3s;

        &:hover {
          color: @color-600;
          opacity: 1;
        }
      }
    }
    .ant-tabs-tab {
      margin: 0 !important;
      padding: 0 !important;
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 16px !important;
    }
    .ant-tabs-ink-bar {
      display: none !important;
    }
  }
}
