.confirm :global(.zs-modal-content) {
  width: 456px;
}

.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.expand {
  margin-right: 12px;
}

.icon {
  margin-left: 4px;
}

.search {
  width: 240px;
}

.tableWrapper {
  padding: 8px 0;
}
