@import "../../theme.less";

.header {
  border-bottom: solid 1px @neutral-300;
}

.main {
  padding: 20px 24px;
}

.tabs {
  :global {
    .ant-tabs-content {
      height: 100%;
    }
  }
}

.toolbar {
  margin: 12px 0;
  .searchBar {
    margin-top: 12px;
    width: 100%;
  }
}

.selectAll {
  padding: 12px 0;
  :global {
    .ant-checkbox-wrapper {
      margin-right: 10px;
    }
  }
}
