@import "~@/theme.less";

// .container {
//   padding: 24px 0;
// }

.toolbar {
  margin: 12px 0;
  .searchBar {
    margin-top: 12px;
    width: 100%;
  }
}

.selectAll {
  padding: 12px 0;
  :global {
    .ant-checkbox-wrapper {
      margin-right: 10px;
    }
  }
}

.none {
  color: @neutral-500;
}
