.stepsWrapper {
  margin: -24px;
  margin-bottom: 24px;
  padding: 12px;
  background-color: var(--neutral-100);
}

.formSection {
  padding-top: 8px;
}

.alert {
  margin-bottom: 16px;
}

.confirmList {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 12px;
}

.confirmItem {
  display: contents;
}

.confirmLabel {
  color: var(--neutral-600);
}

.confirmValue {
  color: var(--neutral-900);
}

.card {
  :global {
    .zstack-form-item-label-container {
      margin-right: -12px;
    }
  }
}
