@import "../../../../theme.less";

.card {
  padding: 0px 12px;

  margin-bottom: 20px;

  .baseFormItem {
    width: 400px;
  }

  .last-field {
    margin-bottom: 20px !important;
  }

  .width-400 {
    width: 400px !important;
  }

  .desc {
    display: flex;

    svg {
      margin: 2px 4px 0 0;
      color: @alert-500;
      flex-shrink: 0;
    }

    :global {
      .ant-btn {
        height: auto;
        padding: 0px !important;
        font-size: 12px !important;
      }
    }
  }
}
