@import url("../../../theme.less");

.emptyText {
  color: @neutral-500;
}

.l3networkField {
  display: block;
  max-width: 320px;
}

.ip-input {
  width: 320px !important;

  :global {
    .ant-select-selector {
      height: auto !important;
    }
  }
}
