@import "../../../../theme.less";

.openConsole {
  color: @neutral-500 !important;
}

.install {
  vertical-align: middle;
  display: inline-block;
  line-height: 22px;
  margin-left: 8px;
}

.step-wrap {
  padding-top: 6px;
  height: 62px;
  background-color: @neutral-100;

  &.step-wrap-zsv {
    :global {
      .ant-steps-item .ant-steps-item-content .ant-steps-item-title {
        font-weight: 400 !important;
      }
    }
  }
}

.content-wrap {
  padding: 24px 24px 40px;

  .stepHeader {
    margin-bottom: 12px;
    color: @neutral-700;
  }

  :global {
    .ant-steps-item-description .ant-typography {
      color: @neutral-600;
    }

    .ant-steps-item-description {
      color: @neutral-600 !important;
    }

    .ant-steps-item:nth-last-child(1) {
      .ant-steps-item-description {
        padding-bottom: 0;
      }
    }

    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
      background: none;
      margin-right: 12px !important;
    }

    .zstack-vertical-steps .ant-steps-item-active .ant-steps-item-title {
      color: @neutral-700 !important;
      width: unset !important;
      margin-bottom: 4px;
    }

    .zstack-vertical-steps .ant-steps-item .ant-steps-item-container {
      width: unset;
    }
  }

  &.content-wrap-zsv {
    :global {
      .ant-steps-item .ant-steps-item-content .ant-steps-item-title {
        font-weight: 400 !important;
        width: unset !important; //
      }
    }
  }
}

.article {
  i {
    display: flex;
    align-items: center;
    margin-right: 12px;

    &::before {
      content: "\200B"; // height = 1lh
    }

    &::after {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 999px;
      background-color: @neutral-500;
    }
  }

  .msg {
    display: flex;
    align-items: flex-start;
    color: @neutral-700;
  }

  .desc {
    display: inline-block;
    margin-left: 16px;
    width: calc(100% - 16px);

    :global {
      .ant-typography {
        color: @neutral-600;
      }
    }
  }

  .text-pew-wrap {
    display: inline-block !important;

    :global {
      .ant-typography-ellipsis-single-line {
        white-space: pre-wrap !important;
      }
    }
  }
}

.article + .article {
  margin-top: 16px;
}
