.card {
  margin-bottom: 12px;

  :global {
    .ant-form-item-control {
      margin-left: -12px;
    }
  }
}

.ip-input {
  :global {
    .ant-select-selector {
      height: auto !important;
    }
  }
}
