@import "../../../theme.less";

.createBackupStorage {
}

.stepsWrapper {
  padding-top: 6px;
  height: 62px;
  background-color: @neutral-100;

  :global {
    .zstack-horizontal-steps {
      .ant-steps-item-container {
        .ant-steps-item-icon {
          margin-right: 0 !important;
        }

        .ant-steps-item-title {
          font-weight: 400 !important;
        }
      }
    }
  }
}

.formWrapper {
  padding: 24px 24px 40px 24px;
}

.tag {
  margin-left: 8px !important;
}

.width-80 {
  width: 80px !important;
}

.width-160 {
  width: 160px !important;
}

.width-240 {
  width: 240px !important;
}

.width-320 {
  width: 320px !important;
}

.monNode {
  margin-bottom: 0 !important;

  :global {
    .ant-form-item-control {
      border: 1px solid @neutral-300;
      border-bottom: none;
      border-radius: 2px;
      max-width: 400px;
    }

    .ant-form-item-control-input-content {
      max-height: 240px;
      overflow-y: auto;
    }
  }

  .action {
    span:first-child {
      display: inline-block;
      width: 32px;
    }
  }
}

.addBtn {
  margin: 14px 0 4px 0;
  color: var(--color-600);
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;

  span {
    margin-left: 4px;
  }

  .errMsg {
    margin-left: 8px !important;
    font-size: 12px !important;
    margin-top: 4px;
    color: #ff4d4f !important;
  }
}

.caption {
  display: flex;
  align-items: flex-start;
  margin-top: 4px;
  padding-top: 4px;
  gap: 4px;
  font-size: 12px;
  line-height: 20px;
  color: @neutral-500;

  :global {
    .zstack-icon {
      flex-shrink: 0;
      margin-top: 2px;
    }
  }

  p {
    margin: 0;
  }
}

.error-field {
  margin-top: -8px;
  padding-left: 168px;
  color: var(--danger-600, #dc2626);
}
