@import "../../../../../theme.less";

.bottom-container {
  padding: 10px 12px;
  width: 100%;
  border-top: 1px solid @neutral-300;

  display: inline-flex;
  justify-content: space-between;

  .reset {
    color: @neutral-700;
    cursor: pointer;
  }

  .reset-disable {
    color: @neutral-500;
    cursor: not-allowed;
  }

  .add-new-tag {
    color: @info-600;
    cursor: pointer;
  }

  span {
    font-size: 14px;
  }

  .confirmbtn {
    color: @info-600;
    cursor: pointer;
  }
}
.network-ip {
  position: absolute;
  right: 12px;
}
