@import "../../theme.less";

.rightExtraContainer {
  display: flex;
  align-items: center;
  margin-right: -10px;
  .label {
    margin-left: 4px;
    font-size: 14px;
    color: @neutral-700;
  }
  :global {
    .ant-select-selector {
      padding-left: 4px !important;
    }
    .ant-select-selection-item {
      padding-right: 25px !important;
    }
  }
}
