@import "../../theme.less";

.autoWayContainer {
  margin-bottom: 24px;

  .description,
  .info,
  .hint {
    margin-bottom: 16px;
    color: #333;
  }

  .description {
    font-weight: 500;
  }

  .hint {
    color: #666;
  }
}

.hostTable {
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #dbdde0;
  margin-left: -12px;
  min-width: 480px;
  :global {
    svg {
      color: @neutral-600;
    }
  }
}

.width-320 {
  width: 320px;
}
