.addOptionBtn {
  align-self: flex-start !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 !important;
  line-height: 22px !important;
  height: 22px !important;
  transition: none !important;

  svg {
    margin-right: 4px;
  }
}

.optionInput {
  display: flex;
  align-items: flex-start;
  width: fit-content;

  .trashIcon {
    flex: none;
    display: grid;
    place-content: center;
    height: 32px;
    width: 32px;
    padding: 0 !important;
    color: var(--neutral-600);
    margin-left: 8px;
  }
}
