@import "../../../../theme.less";

.card {
  padding: 0px 12px;

  .baseFormItem {
    width: 400px;
  }
}

.width-80 {
  width: 80px !important;
}

.width-160 {
  width: 160px !important;
}

.width-240 {
  width: 240px !important;
}

.width-320 {
  width: 320px !important;
}

.selectSlot {
  color: @neutral-500;
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  border-top: 1px solid @neutral-400;
}
