.width-80 {
  width: 80px !important;
}

.width-120 {
  width: 120px !important;
}

.width-160 {
  width: 160px !important;
}

.width-320 {
  width: 320px !important;
}

.unit-percent {
  margin-left: 4px;
  align-self: self-start;
  position: relative;
  top: 6px;
}

.threshold {
  :global {
    .ant-form-item-explain {
      position: fixed;
      margin-top: 33px;
    }
  }
}
