@import url("../../../../theme.less");

.physicalNicCountField {
  display: flex;
  justify-content: space-between;

  .link {
    font-size: 14px;
    font-weight: 400;
    color: @color-600;
    line-height: 22px;
    cursor: pointer;
  }
}

.ipmi {
  font-size: 14px;
  font-weight: 400;
  color: @color-600 !important;
  line-height: 22px;
  cursor: pointer;
}

:global(.anticon).capacityIcon {
  display: flex;
  align-items: center;
}
