@import url("../../../../theme.less");

.modal {
  :global {
    .ant-modal-header {
      .ant-modal-title {
        font-weight: 400 !important;
      }
    }

    .ant-modal-content {
      .ant-modal-body {
        padding: 24px 24px 40px !important;
      }
    }

    .zstack-table-list {
      .zstack-table {
        .ant-table {
          .ant-table-content {
            height: 320px !important;
            overflow-y: auto !important;
          }
        }
      }
    }
  }
}
