@import "../../../theme.module.less";

.container {
  padding: 24px;
}

.toolbar {
  margin: 12px 0;

  .searchBar {
    margin-top: 12px;
    width: 100%;
  }
}

.selectAll {
  padding: 12px 0;
  :global {
    .ant-checkbox-wrapper {
      margin-right: 10px;
    }
  }
}
