@import url("../../../../../theme.less");

.information-content {
  .title {
    margin: 20px 0 12px 0;
    font-size: 14px;
    font-weight: 400;
    color: @neutral-700;
  }

  :global {
    .zstack-table-list-toolbar {
      margin-bottom: 8px;
    }

    .ant-table-content {
      min-height: 220px;
    }
  }
}
