@import "../../style/vars.less";

.@{prefix}-progress-in-table {
  width: 100%;
  padding: 12px 0px 0px 0px;
}

.ipCapacityTooltip {
  width: 224px;

  :global {
    .ant-tooltip-inner {
      div {
        display: flex;
        justify-content: space-between;
        margin: 2px 0;
      }
    }
  }
}
