@import "../../../../theme.module.less";

// .container {
//   width: 70%;
// }

.monitorBlock {
  margin-top: 24px;
  &Title {
    color: @neutral-800;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 8px;
    border-bottom: 1px solid @neutral-300;
    margin-bottom: 12px;
  }
}

.usage {
  .left-label {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    padding-right: 20px;
    .label {
      color: #707275;
      margin-bottom: 8px;
    }
    .value {
      color: #181a1d;
    }
  }

  :global {
    .ant-divider {
      border-top: 1px solid #dbdde0 !important;
      height: 3.1em;
      top: 0.3em;
      vertical-align: top;
    }
  }

  .right-bar {
    display: inline-block;
    width: calc(100% - 155px);
    margin-left: 20px;
    vertical-align: top;
    .percent {
      position: absolute;
      top: 0;
      z-index: 3;
      font-size: 12px;
      line-height: 25px;
      padding-left: 8px;
    }
    .bottom-label {
      margin-top: 6px;
      font-size: 12px;
      color: #707275;
      .total,
      .pool-used {
        margin-right: 12px;
      }
    }
  }
}
.top-label {
  width: 100%;
  color: #4a4c4f;
  font-size: 12px;
  .percent {
    float: left;
  }
  .available {
    float: right;
  }
}

.oneCol:global(.zstack-card-draggable) {
  width: 70%;
  :global {
    .ant-card-head {
      padding: 0 12px;
      .zstack-card-title-action {
        display: block;
        .ant-space {
          display: flex;
        }
      }
    }
  }
}
