@import "../../theme.less";

.width-235 {
  width: 235px !important;
}

.width-240 {
  width: 240px !important;
}

.test-connect {
  padding: 4px 12px !important;
  margin-left: 4px;
}

.error-field {
  margin-top: 4px !important;
  padding-left: 0 !important;
}

.info-text {
  font-size: 12px;
  color: var(--neutral-500);
}

.refresh-button {
  padding: 0 !important;
  font-size: 12px !important;
  height: auto !important;
}
.backup-restore-init-creator {
  :global {
    .zstack-form-item-input-description {
      margin-bottom: 0 !important;
    }
  }
}
