@import "../../../style/vars.less";

.@{prefix}-modal-base-result {
  &-content {
    font-size: 14px;
    color: @neutral-700;
    margin: 24px 24px 20px;

    &-img {
      display: block;
      margin: 0 auto;
    }

    &-title {
      text-align: center;
      color: @neutral-800;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      margin: 12px 0 20px;
    }

    &-tip {
      color: @neutral-600;
      margin-bottom: 8px;
    }

    &-message-success {
      padding: 12px;
      background-color: @neutral-100;
    }

    &-message-error {
      padding: 12px;
      color: @danger-500;
      background-color: @danger-50;
    }
  }
}

.@{prefix}-modal-render-result {
  .ant-modal-close > .ant-modal-close-x {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
  }
  .ant-modal-body {
    padding: 0 !important;

    .ant-modal-confirm-title {
      padding: 12px 24px 11px 24px;
      color: @neutral-800;
      border-bottom: 1px solid @neutral-300;
      border-radius: 2px 2px 0 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .ant-modal-confirm-btns {
      float: none;
      padding: 13px 24px 14px 24px;
      border-top: 1px solid @neutral-300;
      border-radius: 0 0 2px 2px;
      text-align: right;
    }
  }
}
