@import "../../../theme.less";

.section {
  padding-left: 12px;

  .sectionTitle {
    position: relative;
    color: @neutral-700;
    margin: 20px 0 12px;

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 12px;
      background-color: @color-400;
      margin: auto 0;
      top: 0;
      bottom: 0;
      left: -12px;
    }
  }

  .importBtn {
    color: @color-600;
    padding-left: 0;
  }

  :global {
    .zstack-form-item-input-description-zsv {
      top: -13px !important;
    }
  }
}
