@import "../../../../../../theme.less";

.cpuNum {
  width: 160px !important;

  input {
    text-align: center;
  }
}

.selectSlot {
  color: @neutral-500;
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  border-top: 1px solid @neutral-400;
}
