.cluster-name {
  :global {
    .ant-col.ant-form-item-control {
      width: 0;
    }
  }
}

.width-160 {
  width: 160px !important;
}

.width-400 {
  width: 400px !important;
}

.ip-range {
  :global {
    .ant-form-item-explain {
      display: flex;
      justify-content: space-between;
      width: 335px;
    }

    .ant-form-item-explain div {
      flex: 0 1 160px;
    }
  }
}
