@import "../../../../theme.less";

span.tag {
  font-size: 12px !important;
  line-height: 22px !important;
}

.txt-bubble {
  border: 1px solid @neutral-400;
  border-radius: 999px;
  font-size: 12px;
  padding: 0 8px;
  margin-left: 8px;
  color: @neutral-700;
  height: 24px;
  display: flex;
  align-items: center;
}
