@import "../../../theme.less";

.toolbar {
  margin-bottom: 12px;
}

.tags {
  :global {
    .ant-tag {
      margin-right: 4px;
      margin-bottom: 4px;
    }

    .ant-tag:last-child {
      margin-right: 0;
    }
  }
}
