@import url("../../../theme.less");

.icon-container {
  background-color: #000000;
  width: 120px;
  position: relative;

  &-button {
    color: @neutral-0;
    background-color: @neutral-700;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
  }
}

.snapshot-tab {
  padding: 0 !important;
}

.header-default-tag {
  font-weight: 400;
}
