@import "../../../theme.less";

.panel {
  .header {
    margin-bottom: 12px;
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;

    .blue-line {
      width: 4px;
      height: 12px;
      background-color: @color-400;
      margin-right: 8px;
    }
  }

  .card {
    padding: 20px;
    background-color: @neutral-0;
    border-radius: 2px;
    border: 1px solid @neutral-300;
  }

  & + .panel {
    margin-top: 24px;
  }
}
