@import "../../theme.less";

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.disableMain {
  padding: 20px 24px;
}

.main {
  width: 100%;
  padding: 20px 24px;
}

.width-320 {
  width: 320px !important;
}

.width-160 {
  width: 160px !important;
}

.card {
  &.indented .content {
    max-width: 1024px;
    padding-left: 12px;

    font-size: 14px;
    color: @neutral-600;

    :global {
      .zstack-react-markdown {
        font-size: 14px;
      }

      .ant-col {
        flex: 1 1 400px;
      }
    }
  }

  &.showLine {
    border-left: 1px solid var(--neutral-300);
  }

  + .card {
    margin-top: 24px;
  }

  .titleBar {
    margin-bottom: 8px;

    .title {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: @neutral-800;

      .rect {
        width: 4px;
        height: 12px;
        background-color: @color-400;
      }
    }
  }
}

.actionButton {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
