@import "../../theme.less";

.noPermissionPage {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  .noPermissionContent {
    text-align: center;

    .noPermissionTitle {
      font-weight: 600;
      margin: 8px 0;
    }

    .noPermissionDesc {
      color: @neutral-600;
    }
  }
}
