@import "./theme.less";

@border-color-base: @neutral-300;

@picker-basic-cell-hover-color: @color-100;
@picker-date-hover-range-color: @neutral-100;
@picker-date-hover-range-border-color: @color-200;
@picker-basic-cell-hover-color: @color-500;
@picker-basic-cell-active-with-range-color: @color-600;

@radio-focus-shadow: 0 0 0 3px @color-100;

@checkbox-color: @color-600;

.active() {
  border-color: @color-600;
  box-shadow: 0 0 0 2px @color-50;
}

.hover() {
  border-color: @color-600;
}
