.width-320 {
  width: 320px !important;
}
.modifyDingTalkAtPersonModal {
  :global {
    .zstack-list-collect-item-block {
      width: fit-content;
      border: none;
      margin-bottom: 0 !important;
    }
  }
}
