.radioGroup {
  :global {
    .ant-radio-wrapper {
      display: block;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.selectDropdownRender {
  .selectHeader {
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .selectTotal {
      color: #4a4c4f;
    }

    .selectClear {
      color: @color-600;
      cursor: pointer;
    }
  }
}
