@import "../../../theme.less";

.width-80 {
  width: 80px !important;
}

.width-160 {
  width: 160px;
}

.width-200 {
  width: 200px !important;
}

.width-240 {
  width: 240px;
}

.width-320 {
  width: 320px !important;
}
