@import "../../../theme.module.less";

.formStep {
  padding: 20px 24px 30px;
  // background-color: @neutral-0;
}

.formItem {
  margin-bottom: 0 !important;
}
.emailSelect {
  width: 400px;
}

.split {
  margin: 0 8px;
  color: @neutral-700;
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.width-80 {
  width: 80px !important;
}

.width-160 {
  width: 160px !important;
}

.width-320 {
  width: 320px !important;
}

.width-400 {
  width: 400px !important;
}

.marginLeft20 {
  margin-left: 20px;
}

.showNo {
  display: none;
}

.caption {
  margin: -10px 0 16px 168px;
  font-size: 12px;
  line-height: 20px;
  color: @neutral-500;
  :global {
    .zstack-icon {
      vertical-align: sub;
      margin-right: 6px;
      color: @info-500;
    }
  }
}

.checkbox {
  margin-left: 168px;
  margin-bottom: 18px;
}

.commonCard() {
  margin-bottom: 12px;
  border-radius: 2px;
  background-color: @neutral-0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);

  &:last-child {
    margin-bottom: 0;
  }
}

.basic-config {
  :global {
    .zstack-list-collect-item-block {
      width: fit-content;
      border: none;
      margin-bottom: 0 !important;
    }

    .zstack-list-collect-add {
      vertical-align: middle;
    }
  }
}

.email-count {
  color: #96989b;
  font-size: 12px;
  margin-left: 126px;
}

.sms-count {
  color: #96989b;
  font-size: 12px;
  margin-left: 188px;
}
.phoneNumber {
  :global {
    .zstack-list-collect-item-block {
      border-bottom: 0;
      margin-bottom: -1px;
      justify-content: left;
      .zstack-list-collect-item-left {
        margin-right: 4px;
      }
    }
  }
}
.addSmsAreaCode,
.addSmsPhoneNumber {
  display: inline-block !important;
  margin-bottom: 0 !important;
}

.addSmsAreaCode {
  :global {
    .ant-input-affix-wrapper {
      width: 80px;
      margin-right: 4px;
    }
  }
}
.addSmsPhoneNumber {
  :global {
    .ant-input {
      width: 280px;
    }
  }
}

.selectEmailServer {
  display: flex;
  align-items: center;
  .test-btn {
    padding-left: 8px;
  }
}

.email-address {
  :global {
    .ant-row {
      margin-bottom: 8px !important;
    }
  }
}
