@import "../../../theme.less";

.width-320 {
  width: 320px !important;
}

.width-80 {
  width: 80px !important;
}

.detachModal {
  :global {
    .zstack-modal-zsv-action-body {
      padding-bottom: 0 !important;
    }
  }
}
