@import "../../theme.less";

.card {
  padding: 0px 12px;

  .title {
    display: flex;
    flex-direction: row;
    height: 22px;
    margin-bottom: 12px;
    margin-left: -12px;

    .rect {
      margin-top: 5px;
      width: 4px;
      height: 12px;
      background: @color-400;
    }

    .text {
      width: 0;
      flex: 1;
      height: 22px;
      margin-left: 8px;
      font-size: 14px;
      font-weight: 400;
      color: @neutral-700; //需要替换
      line-height: 22px;
    }
  }
}

.baseFormItem {
  width: 320px !important;
}

.tab {
  flex: 1;
  padding-left: 8px !important;

  :global {
    .ant-tabs-nav {
      margin-bottom: 12px !important;
    }

    .ant-tabs-nav-list {
      margin-left: 0px !important;
    }

    .ant-tabs-tab-btn {
      display: flex;
    }
  }

  .icon {
    margin: 0 0 0 4px;
  }
}

.ip-container {
  padding-left: 12px;
  border-left: 1px solid @neutral-300;
  margin-bottom: 20px;
}

.dhcpTooltip {
  margin-left: 156px;
  margin-top: -16px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: @neutral-500;

  :global {
    .zstack-icon {
      width: 16px;
      height: 16px;
    }
  }
}

.cluster-name {
  :global {
    .ant-col.ant-form-item-control {
      width: 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rect {
  margin-top: 18px;
  width: 4px;
  height: 12px;
  background: @info-400;
}

.text {
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  // color: @neutral-700; //需要替换
  line-height: 22px;
}

.nic-title {
  display: inline-flex;
  width: 100%;

  .nic-name {
    flex: 1;
    color: @neutral-300;
  }

  .nic-description {
    flex: 1;
    text-align: right;
    color: @neutral-600 !important;
    padding-right: 30px;
    font-size: 12px;
  }

  .neutral-300 {
    color: @neutral-300;
  }
}

.nic-select-option {
  display: flex;
  width: 100%;

  div:first-child {
    flex: 1;
    color: @neutral-700;
    font-size: 14px;
  }

  div:last-child {
    flex: 1;
    color: @neutral-600;
    font-size: 12px;
    text-align: right;
  }
}

.width-320 {
  width: 320px !important;
}

.l2 {
  border-left: 1px solid @neutral-300;
}

.formWrapper {
  padding-left: 12px;

  .title {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    margin-left: -12px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
    color: @neutral-700;
    line-height: 22px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      margin: auto 0;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      height: 12px;
      background: @color-400;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}
