@import "../../../theme.less";

.badge {
  :global {
    .ant-badge-count {
      display: inline-block;
      color: @neutral-700;
      background-color: transparent;
      box-shadow: 0 0 0 1px @neutral-400 inset;
      margin-left: 8px;
    }
  }
}
