@import "../../../theme.less";

.currentLicense {
  margin-top: 12px;
}

.ant-tag-valid {
  font-weight: 400;
  font-size: 12px;
  background-color: @positive-500;
  color: @neutral-0;
  border-radius: 2px;
  border: unset;
}

.ant-tag-willinvalid {
  font-weight: 400;
  font-size: 12px;
  background-color: @alert-500;
  color: @neutral-0;
  border: unset;
  border-radius: 2px;
}

.ant-tag-invalid {
  font-weight: 400;
  font-size: 12px;
  background-color: @danger-500;
  color: @neutral-0;
  border: unset;
  border-radius: 2px;
}

.help {
  font-size: 14px;
  color: @neutral-600;
  font-weight: 400;
  margin-top: 24px;
}

.help-ukeyReady {
  font-size: 14px;
  color: @neutral-600;
  font-weight: 400;
  margin-top: 52px;
}

.help-withoutUK {
  font-size: 14px;
  color: @neutral-600;
  font-weight: 400;
  //margin-top: 47px;
}

.valid,
.not-valid,
.activated,
.expired,
.notactive,
.warning {
  padding: 2px 9px;
  font-size: 12px;
  border-radius: 2px;
}

body .mnip {
  margin-left: 4px;
  height: 24px;
  padding: 1px 8px;
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
  background-color: @neutral-200;
  color: @neutral-700;
  border: unset;
}

.valid,
.activated {
  background-color: @positive-500;
  color: @neutral-0;
}

.not-valid,
.expired {
  background-color: @danger-500;
  color: @neutral-0;
}

.notactive {
  background-color: @neutral-100;
  color: @neutral-800;
}

.valid,
.not-valid {
  margin-right: 4px;
}

.warning {
  background-color: @alert-500;
  color: @neutral-0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-access {
  cursor: not-allowed;
  color: @neutral-400;
}

.alert {
  margin-bottom: 12px !important;
}
