@import "../../../../theme.less";

.api-modal {
  padding: 24px;

  .api-list {
    overflow-y: auto;
    max-height: 60vh;
  }

  .title {
    display: flex;
    align-items: center;
    color: #181a1d;
    margin: 0px 0 12px;

    .rect {
      margin-right: 8px;
      width: 4px;
      height: 12px;
      background: var(--color-400);
    }

    span {
      columns: #707275;
    }
  }
}
