@import "../theme.less";

.layout {
  // display: flex;
  height: 100%;
  overflow: hidden;
  background-color: @neutral-100 !important;
}

.content {
  // flex: 1;
  // min-height: 800px;
  height: 100%;
  // overflow-x: hidden;
  // overflow-y: auto;
  background-color: @neutral-100 !important;
  position: relative;
  overflow: hidden;
}
