@import "../../../theme.less";

.mainLayout {
  height: 100%;
  flex-direction: column !important;
}

.mainContainer {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.layout {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  // min-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: @neutral-0;
  position: relative;
}
