@import "../../theme.module.less";

.main {
  padding: 20px 24px 40px;
}

.header {
  border-bottom: solid 1px @neutral-300;
}
.buttonMargin {
  :global {
    .ant-btn.ant-dropdown-trigger {
      margin-left: 0 !important;
    }

    .ant-tabs .ant-tabs-tab {
      padding: 9px 0;
    }
  }
}
