.snsAtPersonModal {
  padding-bottom: 0 !important;

  :global {
    .zstack-list-collect-item-block {
      width: fit-content;
      border: none;
      margin-bottom: 0 !important;
    }
  }

  .width-240 {
    width: 240px !important;
  }
}
