@import url(../../../theme.less);

.webshell-enabled {
  color: @color-600 !important;
  cursor: pointer;

  &:hover {
    color: @color-500 !important;
  }
}

.webshell-disabled {
  color: @neutral-500 !important;
  cursor: not-allowed;
}

.tag {
  margin-bottom: 0 !important;
}
