@import "../../../../theme.less";

.tooltip {
  position: absolute;
  margin-top: 3px;
  margin-left: 4px;
  color: @neutral-400;
}

.vmInstanceText {
  width: 100%;
  height: 100%;
  line-height: 32px;
  position: absolute;
  top: 0px;
}

.width-320 {
  width: 320px !important;
}

.flex {
  display: flex;
  align-items: baseline;
  margin-top: -4px;
}

.advanceConfigCard {
  :global {
    .zstack-form-item-input-description-zsv {
      top: -16px !important;
    }
  }
}
