@import "../../../../theme.less";

.defalut-netflow-container {
  margin-bottom: 12px;

  .defalut-netflow {
    padding: 0 10px;
    border-left: 1px solid @neutral-300;

    :global {
      .zstack-form-item-label-container {
        width: 147px !important;
      }
    }
  }
}
