@import "../../../../../theme.less";

.tabLabel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  > div {
    max-width: 140px;
  }
}

.modal {
  :global {
    .ant-modal-body {
      padding: 24px 24px 20px !important;
    }

    .ant-select-selector {
      border: @neutral-400;
    }
  }
}
