.list {
  margin-top: 20px;

  :global {
    th.ant-table-cell:last-child {
      .ant-table-filter-column {
        &-title {
          padding: 8.5px 0 8.5px 8px;
        }
      }
    }

    .zstack-search-advanced {
      .zstack-search-left-menu {
        display: none;
      }

      .zstack-search-content .ant-input {
        padding-left: 12px;
      }
    }
  }
}
