@import "../../../theme.less";

.width-320 {
  width: 320px !important;
}

.width-160 {
  width: 160px !important;
}

.width-80 {
  width: 80px !important;
}

.caption {
  margin-top: -18px;
  font-size: 12px;
  line-height: 20px;
  color: @neutral-500;
}

.card {
  padding: 0;
  margin-left: -12px;
  border-radius: 2px;
  max-height: 480px;
  overflow-y: auto;
  border: 1px solid @neutral-300;
}
