@import url("../../../../theme.less");

.container {
  .headerAlert {
    margin-bottom: 12px;
  }
}
.md5 {
  color: @neutral-500;
  .cursor {
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    top: 1px;
  }
}
.actualSizeValue {
  .refreshBtn {
    float: right;
    font-size: 14px;
    color: @color-600;
    cursor: pointer;
  }
}
