.list-content {
  position: relative;
  .extra-query-condtion {
    position: absolute;
    top: -35px;
    right: 8px;
  }
}

.advanced-config-contanier {
  .action-name {
    margin-left: 4px;
  }
}
